.checkout-bg {
    width: 100vw;
    height: 100vh;
    background-image: url('../../media/home-page.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
}

.bg-ov {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.frm {
    height: 100vh;
}

iframe::-webkit-scrollbar {
    width: 5px;
}

iframe::-webkit-scrollbar-thumb {
    background: rgb(217, 217, 217);
    border-radius: 10px;
}

iframe::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(217, 217, 217); /* Color for the thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0); /* Color for the track */
}